body {
  margin: 0;
  overflow: hidden;
}

#root {
  position: relative;
  display: flex;
  width: 1000px;
  margin: 100px auto;
}

#right {
  position: relative;
  order: 2;
  width: 100%;
}

#title {
  font-family: "Tourney", cursive;
  color: royalblue;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

#difficulty,
#score,
#count,
#select {
  font-family: "Noto Sans", sans-serif;
  padding-left: 30px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 900;
}

#difficultySelected {
  width: 100px;
  height: 30px;
  vertical-align: middle;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 5px;
}

#gameover {
  opacity: 0;
  font-family: "Tourney", cursive;
  color: red;
  font-size: 4rem;
  top: 30%;
  left: 7%;
  position: absolute;
  transition: 0.5s;
  text-align: center;
}

#start {
  font-family: "Noto Sans", sans-serif;
  background-color: #fff;
  border: none;
  padding: 5px 15px;
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  border-radius: 15px;
  font-weight: 900;
  border: 2px solid #333;
  cursor: pointer;
}
#start:active {
  border: 2px solid #000;
}

.number {
  font-family: "Tourney", cursive;
}
